html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Aleo';
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  font-weight: normal;
  background-color: #ffffff;
  margin: 0 auto;
}
.body_hidden {
  height: 100vh;
  overflow-y: scroll;
  right: 0;
  left: 0;
  position: fixed;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.body_opacity_burger {
  position: fixed;
  visibility: hidden;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  opacity: 0;
  background: black;
  transition: 1s;
}
.body_opacity_burger_active {
  opacity: 0.4;
  visibility: visible;
}
.body_opacity_popup {
  position: fixed;
  visibility: hidden;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 40;
  opacity: 0;
  background: black;
  transition: 1.5s;
}
.body_opacity_popup_active {
  opacity: 0.3;
  visibility: visible;
}

/* ----------- login popup ----------- */

.mobile_wrapper {
  max-width: 1440px;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
}

.popup {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -100%;
  z-index: 50;
  width: 650px;
  max-height: 660px;
  padding: 25px 44px 23px 45px;
  background-color: #ffffff;
  background: linear-gradient(177.09deg, #ffffff 6.15%, #0d606f 202.69%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
  transition: 1.5s;
}
.popup_active {
  top: 50%;
}
.login_popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.popup_title {
	font-weight: 700;
  font-size: 32px;
	color: #0d606f;
	margin-bottom: 30px;
}
.account_title {
  display: none;
}
.btn_popup {
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  cursor: pointer;
}
.btn_fb {
  background: #1877F2;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.5s;
}
.btn_fb:hover {
  background: #2b5791;
  border: #2b5791 solid 1px;
}
.sign_in_facebook {
  font-family: 'Red Hat Text';
  font-weight: 400;
  font-size: 20px;
  line-height: 26.46px;
  color: #FFFFFF;
}
.fb_logo {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
.btn_google {
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  transition: 0.5s;
}
.btn_google:hover {
  border: #0d606f solid 1px;
}
.sign_in_google {
  font-family: 'Red Hat Text';
  font-size: 20px;
  font-weight: 400;
  line-height: 26.46px;
  color: #0D606F;
}
.ggl_logo {
  margin-right: 15px;
}
.line_text {
  margin-left: 9px;
  margin-right: 9px;
  font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: rgba(13, 96, 111, 0.5);
}
.login_popup_line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.popup_line {
  width: 261px;
  height: 1px; 
  background-color: rgba(13, 96, 111, 0.5);
}
.popup_line_bottom {
  width: 100%;
  height: 1px;
  background-color: rgba(13, 96, 111, 0.5);
  margin-bottom: 20px;
}
.popup_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.popup_login_label {
  font-weight: 400;
	font-size: 16px;
	line-height: 19px;
  color: #0D606F;
  margin-bottom: 5px;
}
.login_input {
  height: 54px;
  border: none;
  background: #ffffff;
	box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	margin-bottom: 20px;
	outline-color: #0D606F;
  padding: 0px 15px;
  font-size: 20px;
}
.btn_signin {
  padding: 14px 0 14px 0;
  background: #0d606f;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: 0.5s;
}
.btn_signin:hover {
  background:  #0d202b;
}
.btn_signup {
  display: none;
  padding: 14px 0 14px 0;
  background: #0d606f;
  margin-top: 5px;
  margin-bottom: 26px;
  transition: 0.5s;
}
.btn_signup:hover {
  background:  #0d202b;
}
.sign_up {
  font-family: 'Red Hat Text';
  font-weight: 400;
  font-size: 20px;
  line-height: 26.46px;
  color: #FFFFFF;
}
.sign_in {
  font-family: 'Red Hat Text';
  font-weight: 400;
  font-size: 20px;
  line-height: 26.46px;
  color: #FFFFFF;
}
.forgot_pass {
  margin-bottom: 26px;
  font-family: 'Aleo';
  font-weight: 700;
	font-size: 15px;
	line-height: 18px;
  color: #0D606F;
  text-align: center;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  text-decoration-line: underline;
}
.forgot_pass:hover {
  color: rgba(13, 96, 111, 0.5);
}
.popup_register {
  text-align: center;
  font-family: 'Aleo';
  font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: rgba(13, 96, 111, 0.5);
	text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}
.register_link {
  margin-left: 4px;
	color: #0d606f;
  text-decoration-line: underline;
}
.register_link:hover {
    color: rgba(13, 96, 111, 0.5);
}
.popup_have_account {
  display: none;
}


/* ------------ header start ------------ */

.header {
  position: relative;
  max-width: 1440px;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  margin: 0 auto;
  z-index: 5;
}
.header-container {
  max-width: 1230px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.portal {
  display: flex;
  align-items: flex-end;
  transition: 0.5s;
  margin-bottom: 2px;
}

.portal:hover {
  position: relative;
  bottom: 3px;
}

.portal_icon {
  padding-right: 8px;
  padding-top: 5px;
}

.portal_text {
  text-decoration: none;
  font-family: 'Magra', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
}

.login {
  width: 103px;
  height: 41px;
  cursor: pointer;
  background-color: #0D606F;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  font-family: 'Red Hat Text', sans-serif;
  margin-top: 3px;
  transition: 0.5s;
}

.login:hover {
  background: #0d202b;
}

.login_text {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  width: 527px;
  padding-left: 0;
  margin-top: 20px;
  margin-right: 32px;
}
.account {
  display: none;
}
.social_media {
  display: none;
}
.close_menu {
  cursor: pointer;
  display: none;
  transition: 0.3s;
}
.close_menu:hover, .close_menu:focus, .close_menu:active {
  filter: invert(50%) drop-shadow(2px 3px 5px black);
}
.nav-link {
  color: #ffffff;
  line-height: 50px;
  text-decoration: none;
  transition: 0.5s;
}

.nav-item {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.nav-item a:hover {
  color: #8c8888;
}
.header_mobile {
  width: 358px;
  padding-top: 35px;
  margin-left: 16px;
  display: none;
}
.header_burger {
  width: 26px;
  height: 16px;
  position: relative;
  cursor: pointer;
  margin-top: 7px;
  margin-right: 8px;
}
.header_burger:hover, .header_burger:focus, .header_burger:active {
  filter: invert(50%) drop-shadow(2px 3px 5px black);
}
.burger_line {
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
}
.line_first {
  top: 0;
}
.line_second {
  top: 50%;
  transform: translateY(-50%);
}
.line_third {
  bottom: 0;
}

/* ------------ header end ------------ */

/* ------------ section-preview start------------ */

.section-preview {
  background: url('assets/img/header_img.jpg') top center/cover no-repeat;
  margin-top: -90px;
  padding-top: 90px;
  margin-bottom: 55px;
}
.preview_wrapper {
  padding: 32px 428px 254px 120px;
}

.title {
  color: #ffffff;
  margin: 0 auto;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
}

.title2 {
  font-style: italic;
  font-size: 20px;
  color: #ffffff;
  margin-top: 33px;
  margin-bottom: 0;
}

.title_content {
  padding-bottom: 46px;
}

.plantrip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.7);
}

.plan {
  border: none;
  outline: none;
  appearance: none;
  background: none;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #F2785C;
  width: 560px;
  height: 25px;
  margin: 32px 43px 36px 39px;
}

.btn_plan {
  width: 228px;
  height: 59px;
  cursor: pointer;
  background-color: #0D606F;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px, 2px rgba(13, 96, 111, 0.16),
    0px, 0px rgba(13, 96, 111, 0.08);
  padding: 10px, 32px, 10px, 32px;
  margin-right: 19px;
  transition: 0.5s;
}

.btn_plan:hover {
  background: #0d202b;
}

.startplan {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

::placeholder {
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #F2785C;
}

.section-title {
  color: #F2785C;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

/* ------------ section-preview end ------------ */

/* ------------ section-steps start ------------ */

.section-steps {
  padding-top: 5px;
  max-width: 1207px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.steps_title {
  margin: 24px 0 41px 0;
}

.threesteps {
  display: flex;
  justify-content: space-between;
}

.steps_item {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step_cont1 {
  width: 33%;
  display: flex;
  justify-content: flex-start;
}

.step_cont2 {
  width: 33%;
  display: flex;
  justify-content: center;
}

.step_cont3 {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.steps_icon {
  display: flex;
  justify-content: space-around;
  width: 100px;
  height: 100px;
  background: #f2785c;
  border-radius: 16px;
  padding: 28px 25px 27px 25px;
}
.st2 {
  padding: 24px;
}

.steps_text {
  font-weight: 400;
  font-size: 20px;
  color: #0D606F;
  padding-top: 12px;
}

.textsteps_mobile {
  display: none;
}

/* ------------ section-steps end ------------ */

/* ------------ section-destinations start ------------ */

.section-destinations {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1440px;
  overflow-x: hidden;
  padding-top: 45px;
}

.dest_title {
  margin-bottom: 48px;
}

.dest_photo_wrapper {
  position: relative;
}
.caroosel {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.spain2, .japan2, .usa2 {
  display: none;
}

.dest_item {
  max-height: 800px;
  margin: 0 30px;
}
.dest_photo {
  border-radius: 16px;
}
.item1:hover {
  cursor: pointer;
  filter: drop-shadow(2px 3px 10px black);
}
.item3:hover {
  cursor: pointer;
  filter: drop-shadow(2px 3px 10px black);
}
.dest_navigation_left, .dest_navigation_right {
  display: none;
}

.dest_text {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
	position: relative;
	bottom: 117px;
	left: 15px;
}
.dest_bottom {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

.slider_btn {
  display: flex;
  width: 80px;
  justify-content: space-between;
  margin: 24px 0 40px 0;
}

.slider {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
}

.slider_active {
  background: #f2785c;
  transition: 2s;
}

.btn_dest {
  display: flex;
  align-items: center;
  width: 228px;
  height: 59px;
  cursor: pointer;
  background-color: #0D606F;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px, 2px rgba(13, 96, 111, 0.16),
    0px, 0px rgba(13, 96, 111, 0.08);
  color: #ffffff;
  transition: 0.5s;
}

.btn_dest:hover {
  background: #0d202b;
}
.find_more {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.dest_icon {
  margin: 0 12px 0 30px;
}

/* ------------ section-destinations end ------------ */

/* ------------ section-stories start ------------ */

.section-stories {
  background: url('assets/img/bottom_img.jpg') top 93px center no-repeat;
  margin-top: 84px;
  margin-bottom: -61px;
  padding-bottom: 61px;
}

.stories_bg {
  background-color: rgba(255, 255, 255, 0.7);
}

.story {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin: 30px 0 30px 120px;
}

.story:first-child {
  padding-top: 40px;
}
.story4 {
  margin-bottom: 40px;
}
.story_bottom {
  margin-top: 5px;
  padding-bottom: 40px;
}

.stories_title {
  padding-bottom: 11px;
}

.btn_story {
  display: flex;
  align-items: center;
  width: 228px;
  height: 59px;
  cursor: pointer;
  background-color: #0D606F;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px, 2px rgba(13, 96, 111, 0.16),
    0px, 0px rgba(13, 96, 111, 0.08);
  color: #ffffff;
  margin: 0 auto;
  transition: 0.5s;
}

.btn_story:hover {
  background: #0d202b;
}
.see_more {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.story_icon {
  margin: 0 12px 0 30px;
}

.story_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f; 
}
.text_hide {
  display: none;
}

.story_title {
  font-weight: 400;
  font-size: 35px;
  color: #0d606f;
  margin-top: 0;
  margin-bottom: 0;
}

.story_img {
  filter: drop-shadow(0px 4px 4px #0d606f);
  border-radius: 16px;
  margin-right: 40px;
}
.story_img_mobile {
  display: none;
}

.readmore {
  text-decoration-line: underline;
  cursor: pointer;
}

.readmore:hover {
  color: #0d202b;
}

/* ------------ section-stories end ------------ */

/* ------------ footer start ------------ */

.footer {
  position: relative;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 102px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.footer_icon {
  width: 33px;
  height: 33px;
  list-style: none;
  cursor: pointer;
  margin-right: 20px;
}

.footer_icon:hover {
  position: relative;
  bottom: 3px;
}

.footer_text {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding-right: 53px;
  margin-top: 15px;
}

.footer-link {
  width: 50px;
  height: 50px;
  margin-left: 30px;
}

.footer-link:hover {
  position: relative;
  bottom: 3px;
}

.rsschool {
  width: 100px;
  height: 50px;
  margin-left: 20px;
  margin-right: 30px
}

.rsschool:hover {
  position: relative;
  bottom: 3px;
}

.my_page {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 124px;
}
.my_page2 {
  display: none;
}

/* ------------ footer end ------------ */

/* --- animations start --- */

@keyframes move-left {
	from {left: 0px;}
  to {left: 860px;}
}
@keyframes move-right {
	from {left: 0px;}
  to {left: -860px;}
}
.to-right {
  animation-name: move-right;
  animation-duration: 2s;
}
.to-left {
  animation-name: move-left;
  animation-duration: 2s;
}

/* --- animations end --- */

/* --- media queries start --- */



@media (max-width: 1439px) {
  @keyframes move-left {
    from {left: 0px;}
    to {left: 61%;}
  }
  @keyframes move-right {
    from {left: 0px;}
    to {left: -61%;}
  }
  .section-stories {
    background: url('assets/img/bottom_img.jpg') top 93px center/cover no-repeat;
  }
  .story {
    margin: 0 auto;
    padding: 10px;
  }
  .preview_wrapper {
    padding: 32px 200px 230px 60px;
  }
  .dest_item {
    flex: 0 0 55%;
    margin: 0 3%;
  }
  .dest_photo {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 16px;
  }
}

@media (max-width: 1024px) {
  .popup {
    width: 550px;
  }
  .popup_line {
    width: 211px;
  }
  .section {
    width: 100%;
  }
  .title {
    font-size: 60px;
    line-height: 60px;
  }
  .portal_text {
    font-size: 26px;
  }
  .nav-list {
    width: 100%;
    margin-right: 0;
  }
  .nav-item {
    padding-right: 10px;
  }
  .nav-link {
    line-height: 20px;
  }
  .section-title {
    font-size: 32px;
  }
  .preview_wrapper {
    padding: 32px 60px 180px 60px;
  }
  .startplan, .find_more, .see_more  {
    font-size: 20px;
  }
  .story_img {
    display: none;
  }
  .story_img_mobile {
    display: block;
    filter: drop-shadow(0px 4px 4px #0d606f);
    border-radius: 16px;
    margin-right: 10px;
    margin-bottom: 15px;
    width: 30%;
  }
  .story {
    justify-content: space-around;
  }
  .story_text_wrapp {
    width: 65%;
  }
  .story_text {
    font-size: 16px;
  }
  .my_page {
    margin-left: 0;
  }
  .footer_text {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .popup {
    width: 420px;
  }
  .popup_line {
    width: 167px;
  }
  .popup {
    padding: 10px 25px;
  }
  .popup_title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .btn_fb {
    padding: 10px 0;
    margin-bottom: 15px;
  }
  .sign_in_facebook {
    font-size: 16px;
    line-height: 20px;
  }
  .fb_logo {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }
  .btn_google {
    padding: 10px 0;
    margin-bottom: 15px;
  }
  .sign_in_google {
    font-size: 16px;
    line-height: 20px;
  }
  .ggl_logo {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }
  .line_text {
    font-size: 16px;
    line-height: 20px;
  }
  .login_popup_line {
    margin-bottom: 5px;
  }
  .popup_line_bottom {
    margin-bottom: 10px;
  }
  .login_input {
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    }
  .btn_signin {
    padding: 10px 0;
  }
  .sign_in {
    font-size: 16px;
    line-height: 20px;
  }
  .btn_signup {
    padding: 10px 0;
  }
  .sign_up {
    font-size: 16px;
    line-height: 20px;
  }
  .forgot_pass {
    margin-bottom: 15px;
  }
  .title {
    font-size: 40px;
    line-height: 50px;
  }
  .portal {
    width: 10%;
    margin-right: 20px;
  }
  .login {
    margin-left: 30px;
  }
  .portal_text {
    font-size: 16px;
  }
  .nav {
    padding: 0 30px;
  }
  .nav-link {
    line-height: 20px;
  }
  .section-title {
    font-size: 24px;
  }
  .preview_wrapper {
    padding: 32px 60px 80px 60px;
  }
  .plan, ::placeholder {
    font-size: 16px;
  }
  .startplan, .see_more, .find_more {
    font-size: 16px;
  }
  .btn_plan {
    height: 40px;
    margin-right: 10px;
  }
  .plan {
    margin: 20px 0;
    padding-left: 20px;
  }
  .steps_text {
    font-size: 16px;
  }
  .story_img_mobile {
    width: 40%;
  }
  .story_text_wrapp {
    width: 55%;
  }
  .dest_text {
    font-size: 24px;
    bottom: 90px;
  }
  .dest_icon, .story_icon {
    width: 26px;
    height: 16px;
    margin-left: 10px;
  }
  .btn_dest, .btn_story {
    width: 150px;
    height: 45px;
  }
  .section-stories {
    margin-top: 40px;
  }
  .story:first-child {
    padding-top: 60px;
  }
  .story_text {
    display: none;
  }
  .text_hide {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #0d606f;
    margin-top: 12px;
  }
  .story_title {
    font-size: 20px;
    font-weight: 700;
  }
  .footer_text {
    font-size: 12px;
  }
  .footer-link {
    width: 30px;
    height: 30px;
  }
  .rsschool {
    width: 60px;
    height: 30px;
  }
  .footer_nav {
    padding-left: 10px;
    margin-right: 20px;
  }
}
@media (max-width: 510px) {
  .popup {
    width: 320px;
  }
  .popup_line {
    width: 117px;
  }
  .portal {
    width: 10%;
  }
  .login_text {
    padding: 0;
  }
  .login_button {
    width: 60px;
    margin: 0;
  }
  .login {
    width: 70px;
    margin: 0;
  }
  .nav-item {
    font-size: 12px;
  }
  .title2 {
    font-size: 16px;
  }
  .text_hide {
    font-size: 12px;
  }
  .story_title {
    font-size: 16px;
  }
  .startplan {
    font-size: 13px;
  }
  .plan {
    margin: 15px 0;
    padding-left: 5px;
  }
  .footer_text {
    font-size: 10px;
    margin: 0 auto;
  }
  .footer_nav {
    margin-right: 0;
  }
  .rsschool {
    margin-left: 10px;
    margin-right: 15px
  }
  .footer-link {
    margin-left: 10px;
  }
}

@media (max-width: 390px) {
  @keyframes move-left {
    from {left: 0px;}
    to {left: calc(100vw - 1.65%);}
  }
  @keyframes move-right {
    from {left: 0px;}
    to {left: calc((-100vw) + 1.65%);}
  }
  .popup {
    width: 280px;
  }
  .popup_line {
    width: 97px;
  }
  .popup_title {
    font-size: 20px;
  }
  .header_mobile {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
  }
  .header {
    background: linear-gradient(to bottom,#0D606F 0%, rgba(13, 96, 111, 0) 70%);
    box-shadow: none;
  }
  .account, .social_media {
    display: block;
  }
  .portal {
    width: 100%;
  }
  .mobile_wrapper {
    max-width: 390px;
    position: relative;
    overflow: hidden;
  }
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 165px;
    height: 250px;
    padding: 0;
    background-color: #F2785C;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 3px rgba(13, 96, 111, 0.25));
    margin: 0 auto;
    z-index: 50;
    transition: 1s;
    transform: translateX(100%);
  }
  .open_menu {
    transform: translateX(0);
  }
  .nav-list {
    text-align: end;
    margin: 5px 15px 30px 44px;
    width: 106px;
    height: 176px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .nav-item {
    width: 100%;

    padding-right: 0;
  }
  .nav-link {
    font-size: 16px;
    line-height: 21.17px;
  }
  .close_menu {
    display: block;
    padding: 8px 0 0 8px;
  }
  .title, .title2, .login, .login_button, .portal, .spain1, .japan1, .usa1, .story_img, .footer_text {
    display: none;
  }
  .section-preview {
      background: url('assets/img/header_img_mobile.jpg') top center/cover no-repeat;
      margin-bottom: 0;
  }
  .preview_wrapper {
    padding: 0 0 63px 0;
  }
  .plantrip {
    flex-wrap: nowrap;
    max-width: 360px;
    height: 48px;
    margin-left: 15px;
    margin-top: 5px;
  }
  .plan {
    font-size: 14px;
    margin-left: 12px;
    padding-top: 7px;
    margin-right: 41px;
  }
  ::placeholder {
    font-size: 14px;
  }
  .btn_plan {
    height: 30px;
    margin-right: 10px;
  }
  .startplan {
    font-size: 11px;
  }
  .section-steps {
    padding-top: 0;
    padding-right: 15px;
  }
  .steps_title {
    margin-top: 20px;
    margin-bottom: 21px;
  }
  .section-title {
    font-size: 14px;
  }
  .steps_icon {
    width: 70px;
    height: 70px;
    padding: 19px;
  }
  .ic1 {
    width: 35px;
    height: 32px;
  }
  .ic2 {
    width: 35px;
    height: 35px;
  }
  .ic3 {
    width: 40px;
    height: 31px;
  }
  .steps_text {
    display: none;
  }
  .textsteps_mobile {
    display: flex;
    font-size: 10px;
    font-weight: 400;
    color: #0D606F;
    padding: 10px 0 0 0;
  }
  .step_mob1 {
    text-align: left;
  }
  .step_mob2 {
    width: 80%;
    text-align: center;
    padding-right: 2px;
  }
  .step_mob3 {
    width: 33%;
    text-align: right;
  }
  .section-destinations {
    padding-top: 0;
  }
  .dest_wrapper {
    margin: 0 auto;
    padding: 0 15px;
  }
  .dest_title {
    margin-bottom: 20px;
  }
  .dest_item {
    position: relative;
    height: 210px;
  }
  .item1:hover {
    cursor: default;
    filter: none;
  }
  .item3:hover {
    cursor: default;
    filter: none;
  }
  .dest_photo {
    width: calc(93vw);
  }
  .spain2, .japan2, .usa2 {
    display: block;
  }
  .dest_text {
    bottom: 220px;
		left: 15px;
		font-size: 20px;
		line-height: 26.46px;
  }
  .dest_bottom {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: -18px;
  }
  .slider_btn {
    width: 36px;
    margin: 0 0 21px 0;
  }
  .slider {
    width: 8px;
    height: 8px;
    cursor: pointer;
  }

  .dest_navigation_left {
    position: absolute;
		top: 90px;
		left: 5px;
    display: block;
    cursor: pointer;
    z-index: 1;
    transform: rotate(180deg);
    transition: 0.3s;
  }
  .dest_navigation_left:hover, .dest_navigation_left:focus, .dest_navigation_left:active {
    transform: scale(-1.2);
  }
  .dest_navigation_right {
    position: absolute;
		top: 90px;
		right: 5px;
    display: block;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
  }
  .dest_navigation_right:hover, .dest_navigation_right:focus, .dest_navigation_right:active {
    transform: scale(1.2);
  }
  .btn_dest {
    width: 92px;
    height: 30px;
    padding: 7px 12px;
  }
  .find_more {
    font-size: 11px;
  }
  .dest_icon {
    width: 10px;
    height: 10px;
    margin: 0 6px 0 0;
  }
  .section-stories {
    background: url('assets/img/bottom_img_mobile.jpg') top 30px center no-repeat;
    margin: 20px 0 0 0;
    margin-bottom: -64px;
    padding-bottom: 64px;
  }
  .stories_title {
    padding: 0;
    margin-bottom: 11px;
  }
  .story_title {
    font-size: 11px;
    font-weight: 700;
  }
  .text_hide {
    font-size: 9px;
  }
  .story_text_wrapp {
    margin-top: 5px;
    width: 100%;
  }
  .story_img_mobile {
    width: 50%;
  }
  .story {
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
  .story:first-child {
    padding-top: 10px;
  }
  .story_bottom {
    margin-top: 0;
  }
  .stories_bg {
    height: 630px;
  }
  .btn_story {
    width: 92px;
    height: 30px;
    padding: 7px 13px;
  }
  .see_more {
    font-size: 11px;
  }
  .story_icon {
    width: 10px;
    height: 10px;
    margin: 0 6px 0 0;
  }

  .footer_nav {
    margin: 0 auto;
    padding: 15px 0 16px 58px;
  }
  .img4 {
    margin-bottom: 10px;
  }
  .rsschool {
    display: none;
  }
  .footer-link {
    width: 30px;
    height: 30px;
    margin-left: 0;
  }
  .my_page {
    margin-left: 10px;
  }
  .my_page2 {
    display: block;
    margin-right: 10px;
  }
  .rsschool2 {
    width: 60px;
    height: 30px;
  }
  .rsschool2:hover {
    position: relative;
    bottom: 3px;
  }
}
@media (max-width: 365px) {
  .text_hide {
    font-size: 7px;
  }
  .startplan {
    font-size: 10px;
  }
}


/* --- media queries end --- */